.text-wrap {
	position: relative;
	padding-top: 11rem;
	padding-bottom: .5rem;
	color: var(--color-white);
}
.text-box {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}

.text-container {
	text-align: center !important;
	margin-left: auto !important;
	margin-right: auto !important;
}