@import "../../../style/breakpoint";

.summary-wrap {
	width: 100%;
	position: relative !important;
	padding-right: var(--bs-gutter-x, .75rem);
	padding-left: var(--bs-gutter-x, .75rem);
	margin-right: auto;
	margin-left: auto;
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}