.wave {
	position: absolute;
	top: auto;
	bottom: -4vw;
	left: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;

	path {
		fill: var(--color-theme);
		&:nth-child(1) { opacity: 0.2; transform: translate(0, -2rem); }
		&:nth-child(2) { opacity: 0.3; transform: translate(0, -1rem); }
		&:nth-child(3) { opacity: 1; }
	}
}