@import "breakpoint";

/** Footer 아이콘 Animation */
@keyframes gelatine {
	from, to { transform: scale(1, 1); }
	25% { transform: scale(0.9, 1.1); }
	50% { transform: scale(1.1, 0.9); }
	75% { transform: scale(0.95, 1.05); }
}

/** Footer 아이콘 퍼지는 효과 */
@keyframes beat {
	0% { opacity: 0.5; transform: scale(1); }
	75% { opacity: 0; transform: scale(1.5); }
	100% { opacity: 0; }
}

footer {
	position: fixed;
	display: inline-flex;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	align-items: flex-end;
	justify-content: flex-end;
	z-index: 5;
	transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);

	.ico-wrap {
		position: absolute;
		display: inline-flex;
		right: 0;
		bottom: 0;
		width: 40px;
		height: 40px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		background-color: var(--color-main-25);
		backdrop-filter: blur(4px);

		.ico {
			display: inline-flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			transition: all 0.2s ease, background-color 0.4s ease;
			opacity: 0.9;
			border-radius: 50%;

			&:hover { background-color: var(--color-ci); }
		}
		svg { margin: 8px auto; fill: #ffffff; width: 26px; height: 26px; }
		&.to-top, &.three { transition: .2s ease-in-out; }
		&.dark-mode {
			transition: .3s ease;
			&.on .ico { background-color: var(--color-ci); }
		}
		&.gelatine { animation: gelatine 0.5s infinite; }
		&.gradient {
			&::before, &::after {
				content: "";
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: -1;
				border-radius: 50%;
				background-image: linear-gradient(155deg, #3655ff, #3655ff 25%, #c26bf8 50%, #f65660 75%, #f65660);
				transition: all 0.25s ease-in-out;
				animation: beat 1.5s ease-out infinite;
			}
			&::after { animation: beat 1.5s ease-out 0.4s infinite; }
		}
	}
	&.on, &:hover {
		width: 104px;
		height: 104px;
		transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);

		.to-top { right: 0; bottom: calc(100% - 40px); opacity: 1; }
		.three { bottom: 0; right: calc(100% - 40px); opacity: 1; }
		.dark-mode {
			bottom: 45%; right: 45%; opacity: 1;
			transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
		}
	}
}

.gradient { background-image: linear-gradient(155deg, #3655ff, #3655ff 25%, #c26bf8 50%, #f65660 75%, #f65660) };